name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    name: Compile & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        working-directory: .
        run: npm install
      - name: Compile
        run: npm run build
      - name: Lint
        run: npm run lint:nofix
